body {
	background: rgb(255, 98, 0);
	background: linear-gradient(
		90deg,
		rgba(255, 98, 0, 1) 6%,
		rgba(255, 179, 0, 1) 54%,
		rgba(255, 102, 0, 1) 95%
	);
	margin: 45px 0px;
	padding: 0px 0px;
	height: 100%;
}

h1 {
	font-family: cursive;
	text-align: center;
	font-size: xxx-large;
	text-shadow: -1px 0 whitesmoke, 0 0px whitesmoke, 1px 0 black, 0 -1px black;
}

h3 {
	text-align: center;
	animation-name: fadeInOut, moveLeft300px, bounce;
	animation-duration: 2.5s, 5s, 1s;
	animation-iteration-count: 2, 1, 5;
}

li {
	font-family: cursive;
	list-style-type: none;
	text-decoration: none;
	color: black;
}

img:hover {
	opacity: 70%;
	transition-duration: 1s;
}

.menu-image {
	width: 80%;
	display: block;
	margin: 0 auto;
	shape-image-threshold: inherit;
}


.table_soup {
	border: 1px solid black;
	text-align: left;
}

.header {
	background: rgb(255, 205, 0);
	background: radial-gradient(
		circle,
		rgba(255, 205, 0, 1) 0%,
		rgba(255, 72, 0, 1) 100%
	);
	display: flex;
	align-items: baseline;
	padding: 0.5rem;
	gap: 1rem;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.category-border {
	border: 1px solid black;
}

.link {
	background: none;
	border: none;
	text-decoration: none;
	color: #0a0807;
	font-family: inherit;
	cursor: pointer;
	padding: 0;
}

.link-menu {
	background: none;
	border: 0px;
	text-decoration: none;
	color: #0a0807;
	font-family: inherit;
	cursor: pointer;
	padding: 0;
}
.link-menu:hover {
	color: #0a0807;
}

.link-category {
	background: none;

	text-decoration: none;
	color: #0a0807;
	font-family: inherit;
	cursor: pointer;
	padding: 0;
}
.link-category:hover {
	color: #0a0807;
}
.dropdown.active > .link,
.link:hover {
	color: #0a0807;
	background-color: rgba(247, 86, 0, 0.92);
}
.dropdown {
	position: relative;
}

.dropdown-menu {
	position: absolute;
	left: 0;
	top: calc(100% + 0.25rem);
	background-color: #f75600;
	padding: 0.75rem;
	border-radius: 0.25rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
	opacity: 0%;
	pointer-events: none;
	transform: translateY(-10px);

	transition: opacity 150ms ease-in-out;
}

.dropdown-menu-right {
	position: absolute;
	right: 0;
	top: calc(100% + 0.25rem);
	background-color: #f75600;
	padding: 0.75rem;
	border-radius: 0.25rem;
	box-shadow: 0 2px 5px 0 rgba(227, 15, 15, 0.1);
	opacity: 0%;
	pointer-events: none;
	transform: translateY(-10px);
	transition: opacity 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.dropdown.active > .link + .dropdown-menu-right {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.information-grid {
	display: grid;
	grid-template-columns: repeat(2, max-content);
}

.dropdown-links {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	opacity: 80%;
}

.login-form > input {
	margin-bottom: 0.5rem;
}

.right {
	position: absolute;
	right: 40px;
}

.breadcrumb {
	background-color: inherit;
	text-decoration: none;
	color: black;
}

/*flexbox*/

.brain-working {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: inherit;
	position: relative;
}

.txt-on-the-img {
	position: absolute;
	z-index: 1;
	bottom: 1px;
	text-align: center;
	background-color: #f75600;
	width: 100%;
}

.container-head {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 5%;
}

.figure-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.mem {
	height: 650px;
	width: 500px;
}

/*Grid*/

.grid {
	border: 2px #0a0807 solid;
	width: 500px;
	height: 500px;
	display: grid;
	grid-template: 2fr 1fr/30% 20% 1fr;
	row-gap: 10px;
	column-gap: 2px;
}

.box {
	align-items: center;
	display: grid;
	background-color: #c05d17;
	border-radius: 2px;
	color: #0a0807;
	border: 2px black solid;
}

.grid-2 {
	border: 1px black solid;
	width: 500px;
	height: 500px;
	display: grid;
}

.footer {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 30px;
	background: rgb(255, 205, 0);
	background: radial-gradient(
		circle,
		rgba(255, 205, 0, 1) 0%,
		rgba(255, 72, 0, 1) 100%
	);
	text-decoration: none;
}

/* @media only screen and (max-width: 600px) {
	body {
		background: rgb(255,244,0);
         background: linear-gradient(90deg, rgba(255,244,0,1) 0%, rgba(255,0,0,1) 51%, rgba(255,0,241,1) 100%);
	}
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
	body {
		background: rgb(255,0,243);
        background: linear-gradient(90deg, rgba(255,0,243,1) 0%, rgba(96,0,255,1) 51%, rgba(0,11,255,1) 100%);
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1600px) {
	body {
		background: rgb(0,3,255);
        background: linear-gradient(90deg, rgba(0,3,255,1) 0%, rgba(0,255,19,1) 51%, rgba(0,0,0,1) 100%);
	}
}

@media screen and (min-width: 1600px) and (orientation: landscape) {
	body {
		background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 51%, rgba(166,0,0,1) 100%);
	}
} */

.body-transition {
	display: flexbox;
	justify-content: center;
	min-height: 100vh;
	
}

.btn-transition {
	position: relative;
	padding: 10px 30px;
	margin: 0 15px;
	color: #21ebff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	overflow: hidden;
	transition: 0.5s;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#0003);
}

.btn-transition:nth-child(1) {
	filter: hue-rotate(115deg);
}


.btn-transition:nth-child(3) {
	filter: hue-rotate(270deg);
}

.btn-transition:hover {
	background: #21ebff;
	color: #111;
	box-shadow: 0 0 50px #21ebff;
	transition-delay: 0.5s;
}

.btn-transition:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	border-top: 2px solid #21ebff;
	border-left: 2px solid #21ebff;
	transition: 0.5s;
	transition-delay: 0.5s;
}

.btn-transition:hover:before {
	width: 100%;
	height: 100%;
	transition-delay: 0s;
}


.btn-transition:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #21ebff;
	border-right: 2px solid #21ebff;
	transition: 0.5s;
	transition-delay: 0.5s;
}

.btn-transition:hover:after {
	width: 100%;
	height: 100%;
	transition-delay: 0s;
}

.trans-photo {
	position: relative;
	display: inline-block;
	height: 60%;
	align-items: center;
}

.trans-photo img {
	cursor: pointer;
}

.trans-photo .philosophical-photo {
	margin-top: 50px;
	height: 430px;
	width: 575px;
}

.trans-photo .brain-anathomy {
	position: absolute;
	top: 260px;
	left: 230px;
	z-index: 1;
	max-height: 50px;
	transition-property: max-height;
	transition-duration: 750ms;
	transition-timing-function: linear;
}

.brain-anathomy {
	clip-path: circle(40%);
}

.trans-photo .brain-anathomy:hover {
	max-height: 180px;
	opacity: 100%;
}


.table__calendar {
	align-items: center;
	width: 82vw;
	height: 35vw;
	background-color: #fff5;
	backdrop-filter: blur(7px);
	box-shadow: 0 .5rem .8rem #0005;
	border-radius: .8rem;
	overflow: hidden;
}

.table__header {
	width: 100%;
	height: 10%;
	background-color: #fff4;
	padding: .8rem 1rem;
}



.table__body {
	width: 95%;
	max-height: 89%;
	background-color: #fffb;
	margin: .8rem auto;
	border-radius: .6rem;
	overflow: auto;
}



.inp_title {
	width: 40px;
	border: 2px solid #aaa;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: .3s;
}

.int_title:focus {
	border-color: dodgerblue;
	box-shadow: 0 0 8px 0 dodgerblue;
}

.test_class {
	color: red;
}

	
  
  