body{
    background-color: burlywood;
    margin: 80px 80px;
}
h1 {
    font-family: cursive;
    text-align: center;
    font-size: xxx-large;
    text-shadow: -1px 0 whitesmoke, 0 2px whitesmoke,
    1px 0 black, 0 -1px black;
    }

li {
    font-family: cursive;
}

img:hover{
    opacity:70%;
    transition-duration: 1s;
}

.menu-image {
    width: 80%;
}

table, td{
    border: 1px solid black;
    text-align: left;
}

.header {
    background-color: saddlebrown;
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: darkorange;
    font-family: inherit;
    cursor: pointer;
    padding: 0;
}

.dropdown.active > .link,
.link:hover {
    color: black;
}
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: saddlebrown;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.login-form > input {
    margin-bottom:  .5rem;
}

.right{
    position: absolute;
    right: 40px;
}
