<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../css/bootstrap-grid.css">
    <link rel="stylesheet" href="../css/main.css">
    <meta charset="UTF-8">
    <title>Drinks</title>
    <script src="../js/script.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">//this adds jquery, a javascript library to your page
    </script>
</head>
<body>
<div id="header"></div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Drinks</li>
    </ol>
</nav>
<div>
    <h1>Drinks</h1>
    <img class="menu-image" src="https://st.depositphotos.com/1616053/4316/i/950/depositphotos_43164999-stock-photo-different-alcohol-drinks-set.jpg" alt="Drinks">
    <ul>
        <li><a href="blue-lagoon-moctail.html">Blue Lagoon Moctail</a></li>
        <li><a href="tequila-sunrise.html">Tequila Sunrise</a></li>
        <li><a href="vodka-moscow-mule.html">Vodka Moscow Mule</a></li>
    </ul>
</div>
</body>
<footer class="footer">
    <a href="contact.html">Contact</a>
    <a href="about.html">About</a>
</footer>
</html>