<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/bootstrap-reboot.css">
  <link rel="stylesheet" href="../css/bootstrap-grid.css">
  <link rel="stylesheet" href="../css/main.css">
      <meta charset="UTF-8">
    <title>Mediterranean-style seafood soup</title>
  <script src="../js/script.js" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">//this adds jquery, a javascript library to your page
  </script>
</head>
    <body>
      <div id="header"></div>
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="soups.html">Soups</a></li>
              <li class="breadcrumb-item"><a href="seafoodsoup.html">Seafood Soup</a></li>
              <li class="breadcrumb-item active" aria-current="page">Mediterranean-style</li>
          </ol>
      </nav>
      <div>
          <h1>Mediterranean-style seafood soup</h1>
              <img class="menu-image" src="https://img.taste.com.au/2RxHWZuD/w643-h428-cfill-q90/taste/2016/11/mediterranean-style-seafood-soup-4829-1.jpeg" alt="Mediterranean-style seafood soup">
          <h3>Ingredients</h3>
            <p>1 tbsp olive oil
                1 large brown onion, halved, finely chopped
                1 red capsicum, halved, deseeded, finely chopped
                3 garlic cloves, crushed
                1 x 400g can diced Italian tomatoes
                375ml (1 1/2 cups) fish stock
                Pinch of saffron threads
                1 dried bay leaf
                2 x 5cm strips lemon rind
                1kg skinless fish fillets, cut into 3cm pieces
                1/2 cup finely shredded fresh basil
                Freshly ground black pepper</p>
          <h3>Intructions</h3>
            <p>
                1.Heat the oil in a large saucepan over medium heat. Add the onion and capsicum and cook, stirring, for 10 minutes or until onion softens slightly. Add the garlic and cook, stirring, for 1 minute or until aromatic.
                2.Heat the oil in a large saucepan over medium heat. Add the onion and capsicum and cook, stirring, for 10 minutes or until onion softens slightly. Add the garlic and cook, stirring, for 1 minute or until aromatic.
                3.Add the fish and cook, uncovered, for 5 minutes or until fish is just cooked.
                4.Ladle the soup among serving bowls. Sprinkle with basil and season with pepper . Serve immediately.
            </p>
          <h3>Nutrition</h3>
                Total Fat	10.3g	15%
                Saturated	1.9g	8%
                Cholesterol	0.1g	-
                Carbohydrate Total	10.6g	3%
                Sugars	3.8g	4%
                Dietary Fiber	2.9g	10%
                Sodium	634.9mg	28%
                Calcium	85.5mg	11%
                Magnesium	15mg	5%
                Potassium	275.4mg	-
                Iron	1.2mg	10%
                Phosphorus	74mg	7%
                Vitamin A	272.3μg	36%
                Vitamin C	48.2mg	121%
                Niacin B3	1.4mg	14%
                Folic Acid B9	14.9	7%
                Vitamin B12	0.6μg	30%
                Vitamin E	1.2mg	12%
                Vitamin K	14.8μg	19%</p>
      </div>
    </body>
  <footer class="footer">
    <a href="contact.html">Contact</a>
    <a href="about.html">About</a>
  </footer>
</html>